Screen{
    # padding-top: 1;
    align-horizontal: center;
}
Sidebar {
    width: 35;
    /* Needs to go in its own layer to sit above content */
    layer: sidebar; 
    /* Dock the sidebar to the appropriate side */
    dock: left;
    /* Offset x to be -100% to move it out of view by default */
    offset-x: -100%;
    background: #0C151D;
    # border: solid red;
    padding: 1;
    border-right: vkey $background;

    /* Enable animation */
    transition: offset 200ms;
    
    &.-visible {
        /* Set offset.x to 0 to make it visible when class is applied */
        offset-x: 0;
    }

    & > Vertical {
        margin: 1 2;
    }
}
.history_button{
    background: grey 0%;
    border: grey;
    margin-top: 1;
    margin-bottom: 1;
    width: 80%;
    padding-left: 0;
    padding-right:0;
}
Chat_Scroll{
    align: center middle;
}
Messages{
    # border: solid #6a4e7b;
    padding-top: 1;
    height: auto;
    width: 80%;
    align-horizontal: center;
}
AI_Message {
    width: 100%;
    height: auto;
    padding-left: 2;
    padding-right: 2;
    border: solid #be4bdb;
    content-align: center middle;
    content-align: left middle;
    box-sizing: border-box;
}
User_message{
    width: 100%;
    height: auto;
    padding: 0;
    border: solid #12b886;
    # color : rgb(18, 184, 134);
    padding-left: 1;
    content-align: center middle;
    content-align: left middle;
    box-sizing: border-box;
}
Input{
    dock: bottom;
    background:rgb(40, 40, 44);
    width: 100%;
    # border: heavy #ECE8EF;
}
#History_label{
    dock:top;
}
#new_chat_button{
    border: ascii grey;
    background: grey 0%;
    margin-top: 1;
    margin-bottom: 1;
    width: 80%;
    padding-left: 0;
    padding-right:0;
}
